/* width:200px; height:100px; */
body {
	background-color: #FFB6C1;
	margin: 15px;
	padding: 15px;
}

.parent {
	width: 100%;
 
}
.parent > div {
	width: 50%;
	height: 300px;
	display: inline-block;
	box-sizing: border-box;
}
#one {
top: 2px;
margin-left: 20px;
}
#two {
top: 2px;
margin-left: 20px;
}
#three {
top: 2px;
margin-left: 20px;
}
#four {
top: 2px;
margin-left: 20px;
}